<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>833040915353-gkvhq1b2f4d1aou1mkd1nshhlubgvrdk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC_6Wi2YDSucQAxJsnWn9vfXwAVx1WscpE</string>
	<key>GCM_SENDER_ID</key>
	<string>833040915353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.vacatio</string>
	<key>PROJECT_ID</key>
	<string>vactio-vade-mecum</string>
	<key>STORAGE_BUCKET</key>
	<string>vactio-vade-mecum.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:833040915353:ios:b37850038d577098099108</string>
</dict>
</plist>